*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background: #fff url(img/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

#iphone{
    height: 99vh;
    background-image: url(img/frame-iphone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}