* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font: normal 16px Verdana;
}

header{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 50px 10px;
}

header > h1{
    font-size: 130px;
    font-variant: small-caps;
    font-family: 'Passion One', cursive;
}

a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0px 10vh 30px;
    font-size: 50px;
    font-weight: normal;
    line-height: 2em;
    font-family: 'Sriracha', cursive;
}

section#p2{
    background: #fff url(img/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}
section.image > p{
    color: #fff;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.491);
    padding: 10px;
}

#p3>p, #p5>p{ 
    margin-bottom: 50px;
}

section#p4{
    background: #fff url(img/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer{
    color: #fff;
    background-color: #000;
    margin-top: 60px;
    text-align: center;
    padding: 10px;
}