body{
  background-color:blueviolet;
  font: normal 15pt arial;
}

header{
  color: white;
  text-align: center;
}

section{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.357);
  text-align: center;
}

#imagem{
  padding: 20px 40px 10px 40px;
}

footer{
  color: white;
  text-align: center;
  font-style: italic;
}