* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header > h1{
    background-color: rgb(123, 123, 123);
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding: 20px;
}

#burguer{
    background-color: rgb(42, 42, 42);
    display: block; /*ou width: 100vw causa mesmo efeito em qlqr caso (?)*/
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: black;
}

nav {
    display: none;
}

nav > ul{
    list-style-type: none;
}

nav > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}

nav > ul > li > a:hover{
    background-color: grey;
}

main{
    height: 100vh;
    background-color: rgb(188, 187, 187);
    padding-top: 20px;
    padding: 20px;
}

main h2{
    padding: 20px;
}

main p{
    padding: 10px;
    line-height: 1.5em;
    font-size: 1.2em;
}

article{
    display: block;
    margin: auto;
    text-align: justify;
    text-indent: 20px;
    background-color: white;
    border-radius: 20px;
}