body{
    background-color: rgb(128, 128, 6);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.374);
    margin: auto;
}

#op{
    font-weight: bolder;
}

input{
    font: normal 15px arial;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}