body{
    font: normal 15pt arial;
    background-color: blue;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.374);
}

#res{
    padding-top: 15px;
}

input{
    font: normal 13pt arial;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}