* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

menu li{
    display: inline-block;
    padding: 0px 5px;
}

header > h1{
    background-color: rgb(193, 198, 202);
    text-align: center;
    padding: 30px;
}

menu ul{
    list-style-type: none;
    background-color: grey;
    font-weight: bold;
    padding: 10px;
}

article{
    width: 700px;
    display: block;
    margin: auto;
}

main h2{
    padding: 20px;
}

main p{
    padding: 10px;
    line-height: 1.5em;
    font-size: 1.2em;
}