* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #5e2e82;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #fff;
    height: 515px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 45%);
}

section#container{
    padding: 10px;
}

header > h1{
    text-align: center;
    padding-bottom: 10px;
}

header > p{
    font-size: .8rem;
    padding-bottom: 8px;
}

img#ft{
    height: 200px;
    width: 250px;
    border-radius: 20px 20px 0px 0px;
}

div#btns, div#inputs{
    display: flex;
    flex-direction: column;
}

div#inputEmail, div#inputPassword{
    background-color: #5e2e82;
    border-radius: 7px;
    margin-bottom: 6px;
    padding-top: 4px;
    padding-left: 3px;
}

span{
    color: #fff;
}

input#email, input#password{
    background-color: #99d3ed;
    height: 35px;
    padding: 3px 19px 0px 6px;
    margin-bottom: 4px;
    border: none;
    border-radius: 7px;
}

input#email:focus, input#password:focus{
    background-color: #fff;
}

button#enter{
    background-color: #5a989e;
    color: #fff;
    margin-bottom: 6px;
    border: none;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

button#enter:hover{
    background-color: #34595d;
}

button#loss{
    color: #34595d;
    margin-bottom: 6px;
    border: 1px solid #5a989e;
    padding: 9px;
    border-radius: 7px;
    cursor: pointer;
}

button#loss:hover{
    background-color: #84ced5;
    transition: .2s;
}

span#mail{
    color: #34595d;
    font-size: 1em;
}

@media screen and (min-width: 768px){
    body{
        background: #5e2e82;
        background: linear-gradient(180deg, rgba(94,46,130,1) 0%, #4b9199 100%) no-repeat;
        background-attachment: fixed;
    }
    main {
        display: flex;
        height: 294px;
        width: 85vw;
    }

    img#ft{
        height: 294px;
        width: 220px;
        border-radius: 20px 0px 0px 20px;
    }

    input#email, input#password{
        padding-right: 0px;
        width: 92%;
    }

    button#enter, button#loss{
        padding: 12px;
        font-size: 1em;
    }
}

@media screen and (min-width: 992px){
    main{
        flex-direction: row-reverse;
        height: 348px;
        width: 940px;
    }

    img#ft{
        height: 348px;
        width: 476px;
        border-radius: 0px 20px 20px 0px;
    }

    header > h1{
        padding: 12px 12px 20px 12px;
        font-size: 2em;
    }

    header > p{
        font-size: 1rem;
        line-height: 22px;
        padding-bottom: 20px;
    }

    button#enter, button#loss{
        padding: 9px;
    }
}